.page {
  display: flex;
  flex-direction: column;
  /* flex-flow: row wrap; */
  font-family: 'Trebuchet MS', sans-serif;
}

.page__header {
  display: flex;
  padding: 20px 40px;
  background-color: #29245c;
}

.page__content {
  display: flex;
  /* background-color: #120458 */
}

h1 {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  /* font-family: 'Trebuchet MS', sans-serif; */
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: white;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  font-size: 1em;
}

.nav__list-item {
  padding: 0 0 0 30px;
}

.nav__list-item a{
  /* padding: 10px; */
  text-decoration: none;
  color: white;
}

.nav__list-item a:hover{
  color: #70e6d1;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  /* -webkit-transition: all 0.3s ease-in-out; */
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.left-content {
  width: 10%;
  /* position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto; */
  /* background-color: rgb(18, 4, 88, 0.1); */
  background: #5147b8;
  
}

.links {
  /* display: flex;
  flex-direction: column; */
  padding: 0px;
  list-style: none;
}

.link-item {
  text-align: center;
}

.fab {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.fab:hover {
  color: #70e6d1;
}

.right-content {
  width: 10%;
  background: #5147b8;
}

.main-content {
  /* padding: 0px 100px; */
  width: 80%;
  background-color: #5147b8;
  color: white;
}

.main-content__section {
  padding: 100px 30px;
  /* padding: 100 20px; */
  background-color: rgb(58, 49, 126);
}

#hero h4 {
  color: #70e6d1;
  font-size: 1.5em;
}

#hero h1 {
  font-size: 3.5em;
}

#hero h2 {
  font-size: 2.5em;
  color: #cccccc;
}

#hero p {
  font-size: 1.25em;
  color: #bfbfbf;
}

#email {
  /* text-align: center; */
  padding: 40px 0;
}

#email a {
  color: #70e6d1;
  border: 3px solid #70e6d1;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.5em;
  padding: 20px 30px;
}

#email a:hover {
  background-color: rgb(112, 230, 209, 0.3);
}

.section-heading {
  color: #70e6d1;
}


@media (max-width: 600px) {
  .page__content {
    flex-direction: column;
  }
  .main-content {
    order: 1;
    flex: 2 0px;
    width: auto;
  }
  .left-content {
    order: 2; 
    width: auto;
    flex-direction: row;
    text-align: center;
  }
  .right-content {
    order: 3; 
    width: auto;
  }
  .link-item {
    display: inline;
  }
}

@media (max-width: 600px) {
  .nav__list {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #5147b8;
      width: 100%;
      /* border-radius: 10px; */
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav__list.active {
      left: 0;
  }

  .nav__list-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }
}